{% block content %}
{% if not request.user.is_authenticated %}
			<li>
				<a href="{% url 'home' %}">Signup</a>
			</li>
			<li>
				<a href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
			  <li>
				<a href="{% url 'browse_jobs' %}">Browse Jobs</a>
             </li> 
			{% if request.user.is_authenticated %}
			<li>
				<a href="{% url 'post_project' %}">Post a Project</a>
			</li>
			<li>
				<a href="{% url 'add_skill' %}">My create skill</a>
			</li>
			{% endif %}


{% endblock %}